@model Trend.Web.Models.MainVM
@{
    ViewBag.Title = "Trend";
}

<div class="row">
    <div class="col-sm-2">
        <!-- Left column -->
        <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> PLC's</strong></a>
        <hr>
        <ul class="nav nav-stacked">
            <li class="nav-header">
                @{ var i = 2; }
                @foreach (var item in Model.Plcs)
                {
                    var target = "menu" + i.ToString();

                    <a href="#" data-toggle="collapse" data-target="#@target">@item.Name <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="nav nav-stacked collapse in" id="@target">
                        @foreach (var point in item.T_DataPoint)
                        {
                            <li class="active">
                                <a href="#">
                                    <i class="glyphicon glyphicon-cog">@point.Name</i> 

                                    @*@Html.ActionLink("Add", "Add", new { id = point.Id })
                                        @Html.ActionLink("Remove", "Remove", new { id = point.Id })*@
                                </a>
                            </li>
                                <li>
                                    <div type="button" class="btn btn-success btn-xs mdi-content-add" id="@point.Id.ToString()"></div>

                                    <div type="button" class="btn btn-danger btn-xs mdi-content-remove" id="@point.Id.ToString()"> </div>
                                </li>

                        }

                    </ul>
                    i++;
                }
            </li>
        </ul>
        <hr>
        <a href="#"><strong><i class="glyphicon glyphicon-signal"></i> Saved Charts</strong></a>
        <ul class="nav nav-stacked">
            <li class="nav-header">

                @foreach (var item in Model.Charts)
                {

                    <a href="#" data-toggle="collapse" data-target="#userMenu">@item.Name <i class="glyphicon glyphicon-chevron-down"></i></a>
                }
            </li>
        </ul>
    </div>
    <div class="col-sm-10 ">
        <div class="container" style="padding-top:20px">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-control-wrapper">
                                <div class="form-control-wrapper">
                                    <input type="text" id="date-start" class="form-control" data-dtp="dtp_XaHNb">
                                    <div class="floating-label">Start Date</div><span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-control-wrapper">
                                <div class="form-control-wrapper">
                                    <input type="text" id="date-end" class="form-control" data-dtp="dtp_YpNtn">
                                    <div class="floating-label">End Date</div><span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="togglebutton">
                <label>
                    <a>
                        Live Mode   
                    </a>
                    
                    <input type="checkbox" id="liveMode"> 
                </label>
            </div>
            <div class='col-md-2 navbar-btn'>
                <div class="form-group">
                    <div type="button" class="btn btn-success" id="getDataBtn">Get Data</div>
                </div>
            </div>
            @*<h1 class="page-header">Dashboard</h1>*@

            <div class="row placeholders">

             
                <canvas id="myChart"  height="400"></canvas>
                <div id="legendDiv"></div>
            </div>

           
        </div>
        <a href="javascript:void(0)" class="btn btn-primary btn-fab"><i class="material-icons" data-toggle="modal" data-target="#myModal">get_app</i></a>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Save Chart</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label" >Chart Name:</label>
                        <input type="text" class="form-control" id="saveChartName">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChartBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>

