@model Trend.Web.Models.MainVM
@{
    ViewBag.Title = "Trend";
}

<div class="row">
    <div class="col-sm-2">
        <!-- Left column -->
        <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> PLC's</strong></a>
        <hr>
        <ul class="nav nav-stacked">
            <li class="nav-header">
                @{ var i = 2; }
                @foreach (var item in Model.Plcs)
                {
                    var target = "menu" + i.ToString();

                    <a href="#" data-toggle="collapse" data-target="#@target">@item.Name <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="nav nav-stacked collapse in" id="@target">
                        @foreach (var point in item.T_DataPoint)
                        {
                            <li class="active">
                                <a href="#">
                                    <i class="glyphicon glyphicon-cog">@point.Name</i> 

                                    @*@Html.ActionLink("Add", "Add", new { id = point.Id })
                                        @Html.ActionLink("Remove", "Remove", new { id = point.Id })*@
                                </a>
                            </li>
                                <li>
                                    <div type="button" class="btn btn-success btn-xs mdi-content-add" id="@point.Id.ToString()"></div>

                                    <div type="button" class="btn btn-danger btn-xs mdi-content-remove" id="@point.Id.ToString()"> </div>
                                </li>

                        }

                    </ul>
                    i++;
                }
            </li>
        </ul>
        <hr>
        <a href="#"><strong><i class="glyphicon glyphicon-signal"></i> Saved Charts</strong></a>
        <ul class="nav nav-stacked">
            <li class="nav-header">

                @foreach (var item in Model.Charts)
                {

                    <a href="#" data-toggle="collapse" data-target="#userMenu">@item.Name <i class="glyphicon glyphicon-chevron-down"></i></a>
                }
            </li>
        </ul>
    </div>
    <div class="col-sm-10 ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-control-wrapper">
                                <div class="form-control-wrapper">
                                    <input type="text" id="date-start" class="form-control" data-dtp="dtp_XaHNb">
                                    <div class="floating-label">Start Date</div><span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-control-wrapper">
                                <div class="form-control-wrapper">
                                    <input type="text" id="date-end" class="form-control" data-dtp="dtp_YpNtn">
                                    <div class="floating-label">End Date</div><span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="togglebutton">
                <label>
                    <input type="checkbox" id="liveMode"> Live Mode
                </label>
            </div>
            <div class='col-md-2 navbar-btn'>
                <div class="form-group">
                    <div type="button" class="btn btn-success" id="getDataBtn">Get Data</div>
                </div>
            </div>
            <h1 class="page-header">Dashboard</h1>

            <div class="row placeholders">

             
                <canvas id="myChart" width="800" height="400"></canvas>
                <div id="legendDiv"></div>
            </div>

            <h2 class="sub-header">Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped" id="chartTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,001</td>
                            <td>Lorem</td>
                            <td>ipsum</td>
                            <td>dolor</td>
                            <td>sit</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

