
@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <h2>Create or Modify Users</h2>
        
        @*@Html.ActionLink("Manage Users", "","T_User") <br />*@
        @Html.ActionLink("Manage Roles", "", "AspNetRoles") <br />
        @Html.ActionLink("Manage User Roles", "", "AspNetUserRoles")

        
    
    </div>
    <div class="col-md-4">
        <h2>Create or Modify PLC's</h2>

        @Html.ActionLink("Manage PLC's", "", "Plc") <br/>
        @Html.ActionLink("Manage Users PLC's", "", "UserPlc")<br />
        @Html.ActionLink("Manage PLC Brands", "", "PlcBrand") 

    </div>
    <div class="col-md-4">
        <h2>Add or Modify Data Points</h2>

        @Html.ActionLink("Manage Data Points", "", "DataPoint")

    </div>
</div>